---
import Layout from "../layouts/Layout.astro";
import MyForm from "../components/MyForm";
---
<Layout title="Symptoms - ADHD">
  <h1 class="text-3xl text-blue-300/50">ADHD Symptoms</h1>
  <h2>Let's track your symptoms</h2>
  <MyForm client:load/>
</Layout>