---
import Layout from "../layouts/Layout.astro";
import MyForm from "../components/MyForm";
---
<Layout title="Symptoms - ADHD">
  <h1 class="text-3xl text-blue-300/50 text-center">ADHD Symptoms</h1>
  <h2 class="text-gray-100 text-center">Let's track your symptoms</h2>
  <MyForm client:load/>
</Layout>